



/*


body, header {
  font-family: 'Raleway';
  overflow: auto;
}

.navbar {
  border-radius: 0px;
  background: #9B0847;
  border: none;
}

.body-index{
  background-image: url("fondorojo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
h1, h3{
  color: white;
  text-align: center;
}



#ver-ejercicio{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

#vistaejercicio{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

.tablas{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tablas td, #tablas th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tablas tr:nth-child(even){background-color: #f2f2f2;}

.tablas tr {background-color: #ddd;}

.tablas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9B0847;
    color: white;
}

#nuevo-ejercicio{
  padding: 1px;
  font-size: 15px;
}

#nueva-tabla{
  padding: 1px;
  font-size: 15px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #9B0847;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form {
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #910787;
}
.padre{
  display: inline-block;
}

.crearEjercicio {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


#languagechooser li, ul{
  display: inline-block;
  padding: 7px 0px 0px 5px;
}


#navfontcolor p, #navfontcolor a{
  color: white;
}

.navbar-brand{
  font-size: 25px;
}

.navbar-right{
  font-size: 18px;
}

.glyphicon-user{
  margin-left: 15px;
}






.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(125, 125, 125, 0.7);
  outline: 1px solid #7D7D7D;
  border-radius: 10px;
}






#flash{
  text-align: center;
  color: #337ab7;
}

#flasherror{
  text-align: center;
  color: red;
}

}

*/
.content_map{
  display:flex;
  justify-content: center;

}

#maps{
  display:flex;
  width: 1175px;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar{
  height: 65px;
}
.navbar-logo{
  width: 225px;
  float:left;
  padding: 5px;
  line-height: 20px;
  display:flex;
  justify-content:center;
}

.img-logo{
  height: 55px;
  width: auto;
}

.img-visto{
  display: flex;
  opacity: 0.2;
  height: auto;
  width: auto;
  align-self: center;
}
.container{
  position: absolute;
  bottom: 5px;
}

ul.dropdown-lr {
  width: 300px;
}
ul.navbar-right{
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 7.5px;
	margin-left: 850px;
}
ul.side-nav{
	top: 65px;
}
.img-rounded{
	width: 1300px;
}
.btn.btn-primary {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn-info {
	 background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button-Actividades{
	position: absolute;
  display: inline-block;
	margin-left: 700px;
	margin-top: 200px;
}
.dropdown-info{
    position: absolute;
    display: inline-block;
	margin-left: 400px;
	margin-top: 200px;
}
ul.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #CCC;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#Menuppl{
  font-family: 'Rubik', sans-serif;
}

.titulo_seccion{
  max-width: 1920px;
  width:auto;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 50px;
  margin-top: 20px;
  display:inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.tit_sec{
  display: inline-block;
}

#titulo_index{
  display:flex;
  justify-content: center;

}

#titulo_index h1{
  font-size: 70px;
}

.header_ejercicios{
  order: 1;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  padding-right: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;

}

 #menu_lat a{
    color:white;
}

.header_lista{
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.header_lista_notif{
  justify-content: center;
}

.titulo_lista{
  display:flex;
}

.titulo_lista_notif{
  flex-direction: column;
  align-items:  center;
}
.titulo_lista h1{
  font-size: 30px;
}

.anadir{
  display: flex;
  margin:5px;
}

#btn_anadir{
  align-self: auto;
  background-color:	#77F977;
  color: black;
  margin-left: 20px;
  border-radius: 10px;

}

#btn_anadir:hover{
  background-color:#59E059;
}

#btn_notificacion{
  width: 500px;
  font-size: 30px;
  background-color: #2C6DC8;
  align-self: center;
}

#btn_notificacion:hover{
  background-color: #125DC6;
}

.contenido_index{
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

.contenido_notificacion{
  display: flex;

}
.bloque_lista{
  max-width: 1000px;
  min-height: 70px;
  height: auto;
  margin-top:  10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #EEEEEE;
  box-shadow: 0 10px 6px -6px #777;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.titulo_bloque{
  border:0px;
  display:flex;
  flex-basis: 30%;
  justify-content: center;
}

.titulo_bloque h1{
  display:flex;
  align-self: center;
  font-size: 25px;
  color: #337ab7;

}

.titulo_bloque a{
  display:flex;
  align-self: center;
  font-size: 20px;

}

.info_bloque{
  display:flex;
  flex-direction: column;
  font-size: 20px;
  flex-basis: 40%;
}

.inf_bl{
  flex-basis: 60%;
}



.opciones_bloque{
  display:flex;
  flex-basis: 30%;
  padding-left: 20px;
  align-items:center;
  justify-content: flex-end;
}

.opc_bl{
  flex-basis: 10%;
}

.btn_nivel{
  font-size: 24px;
  color: black;
}
.btn_nivel:hover{
  color: black;
}

.btn_nivel:focus{
  color: black;
}

.desc_notif{
  padding: 15px;
}

.desc_notif p{
  font-size: 2em;
}

#datos_user{
	top:65px;
	background-color: white;
	margin-left:250px;
}
#contenido{
  top:65px;
  background-color: white;
}
#contenido ul{
  list-style: none;
}
#contenido a{
  list-style: none;
  text-decoration: none;
}
.desplegar{
  display:flex;
}
#desplegable1 ul ul {
	display: none;
}
#desplegable1 ul ul.visible {
	display: block;
}

#desplegable2 ul ul {
	display: none;
}
#desplegable2 ul ul.visible {
	display: block;
}


#desplegable3 ul ul {
	display: none;
}
#desplegable3 ul ul.visible {
	display: block;
}

#icon_desplegar{
margin-left: 5px;
margin-bottom: 5px;
}

.info_actividad {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info_actividad h1{
  font-size: 25px;
}
.enlace_ejercicio{
  text-decoration: underline;
}

.enlace_ejercicio:hover{
  color:blue;
}

.info_ejercicio {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info_ejercicio h1{
  font-size: 25px;
}

.imgs_ejercicio{
  padding-top: 20px;
  padding-bottom: 20px;
}

#btn_eliminar{
  background-color: #F2463B;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}

#btn_visto{
  background-color: #81ba49;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  margin: 5px;

}

#btn_visto:hover{
  background-color: #6f9946;
}

#btn_ver{
  background-color: #F28F46;
  width: 50px;
  height: 30px;
  font-size: 15px;
  padding:5px;
}

#btn-ver:hover{
   background-color: #F27D29;
}

.num_plazas_est{
  display: flex;
}

.num_plazas_est a{
  margin-left: 20px;

}



#btn_eliminar:hover{
  background-color: #F73224;
}

#btn_imprimir{
  background-color: #2C6DC8;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}

#btn_imprimir:hover{
  background-color: #125DC6;
}

#btn_editar{
  background-color: #F28F46;
  align-self: auto;
  margin-left: 20px;
  border-radius: 10px;
}

#btn_reservar{
  background-color: #F28F46;
  align-self: auto;
  margin-left: 20px;
  border-radius: 10px;
}

#btn_asignarD{
  background-color: #F28F46;
  align-self: auto;
  margin-left: 20px;
  border-radius: 10px;
}

#btn_editar:hover{
  background-color: #DF772B;
}

#btn_edit_bloque{
  background-color: #F28F46;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  align-self: auto;
  margin: 5px;
}

#btn_edit_bloque:hover{
  background-color: #EE7A27;
}

#btn_asignar{
  background-color: #2C6DC8;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  align-self: auto;
  margin: 5px;
}

#btn_asignar:hover{
  background-color: #125DC6;
}

/*Search */
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff;
    margin-left: 20px;
    max-width: 400px;
    width: auto;
    display: flex;
}

#custom-search-input input{
    height: 30px;
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;

}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.formulario{
  display:flex;
  flex-direction: column;
  max-width: 500px;
  width:auto;
  margin-top: 20px;
  font-size:20px;
  color:black;
}

.info_notif{
  display:flex;
  flex-direction: column;
  max-width: 500px;
  width:auto;
  margin-top: 20px;
  font-size:20px;
  color:black;
}

.formulario_not{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size:20px;
  color:black;
  max-width: 1920px;
  width: auto;
}

.info_notif{
  display: flex;
  max-width: 500px;
  width:auto;
  padding: 20px;

}

.input_notif{
  width: 450px;

}

.receptor_notif{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 80px;
  padding: 20px;
}

.radioBtn input{
  margin:20px;
}
.lista_receptor{
  border: 1px solid black;
  padding-right: 100px;
  height: 280px;
  overflow: auto;

}

.formulario_ent{
  max-width: 700px;
  display:flex;
  flex-direction: column;
  width:auto;
  margin-top: 20px;
  font-size:20px;
  color:black;
}
.form_submit{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.opciones_ejer{
  /*display:flex;*/
}
.select{
  margin-bottom: 10px;
  width: 200;
}

.input_ejer{
  width: 100;
}

.input{
  margin-bottom: 10px;
  width: 300;
}
#submit{
  padding-left: 50px;
  padding-right: 50px;
  background-color: #2C6DC8;

}

#submit:hover{
  background-color: #125DC6;
}

/*Image Galery*/
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.dropdown-toggle{
  top: 0px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 90%;
        margin: 6px 0;
    }
    .navbar{
      height: 65px;
    }


}


@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
    .navbar{
      height: 65px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
  .navbar{
    height: 65px;
  }

  .img-logo{
    height: 55px;
    width: auto;
  }
}
